div(class="row show-grid")
    div(class="span4",style="height:2px;")
    div(class="span8")
        
ul
    - each soundtrack,_id in soundtracks
        li
            span(class="playlist")
                a(class="playlist-link", href=soundtrack.link)!= soundtrack.name
                span(class="playlist-rank")
                    p score:
                        - if("undefined" !== typeof soundtrack.rank)
                            span(id="rank")!= " " + soundtrack.rank + " "
                        - else
                            span!= " "+0
                br
                br
                a(href="/soundtrack/show/"+soundtrack._id) More information