ul
    li
        span(class="playlist")
            a(class="playlist-link", href="http://grooveshark.com/#/album/The+Fountain/138443") The Fountain Soundtrack
            span(class="playlist-rank") rank: 154
                a(class="vote-up", href="#") +
                /
                a(class="vote-down", href="#") -
            div(class="playlist-comments")
                span(class="author") Phil
                span(class="comment") Awesome!!! +1 to the maxzor
                span(class="author") Phil
                span(class="comment") Awesome!!! +1 to the maxzor
                span(class="author") Phil
                span(class="comment") Awesome!!! +1 to the maxzor, what a totally awesome and amazing long comment, long comment, long comment, long comment, long comment, long comment, long comment, long comment, long comment, long comment, long comment, long comment, long comment, long comment, long comment
                a(class="more-comments", href="#") See 15 more comments ....
    li
        span(class="playlist")
            a(class="playlist-link", href="http://grooveshark.com/#/album/The+Fountain/138443") The Fountain Soundtrack
            span(class="playlist-rank") rank: 154
                a(class="vote-up", href="#") +
                /
                a(class="vote-down", href="#") -
            div(class="playlist-comments")
                span(class="author") Phil
                span(class="comment") Awesome!!! +1 to the maxzor
                a(class="more-comments", href="#") See 15 more comments ....