div(class="row show-grid")
    div(class="span4",style="height:2px;")
    div(class="span8")
        form(name="search",method="POST", action="/soundtrack/search")
            input(type="text", placeholder="Search using keyword (java, electronic)",name="search", class="span6")
            span(class="help-inline)
                input(type="submit", class="btn primary", value="Search",style="margin-left:5px;")

ul
    - each soundtrack,_id in soundtracks
        li
            span(class="playlist")
                a(class="playlist-link", href=soundtrack.link)!= soundtrack.name
                span(class="playlist-rank")
                    p score:
                        - if("undefined" !== typeof soundtrack.rank)
                            span(id="rank")!= " " + soundtrack.rank + " "
                        - else
                            span!= " "+0
                br
                br
                a(href="/soundtrack/show/"+soundtrack._id) More information
-each link, i in pages
    a(href=link)!="page"+i