!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/codingsoundtracks.css')
    script(src="http://code.jquery.com/jquery-1.7.1.min.js")
    script(src="/scripts/formhelper.js")
    script(src="/scripts/vote.js")
  body
    div(class="container")
        !=partial('top-menu')
        div(class="span16")
            !=body
    div(class="footer")