div(class="container")
    form(method="POST")
        fieldset
            legend Login
            div(class="clearfix")
                label(for="username") Username:
                div(class="input", id="username")
                    input(class="xlarge", placeholder="Username (required)", id="xlInput", name="username", size="30", type="text")
                    - if(typeof(error) != 'undefined')
                         span(class="help-inline")!= error.message

            div(class="clearfix")
                label(for="password") Password:
                div(class="input", id="password")
                    input(class="xlarge", placeholder="Password (required)", id="xlInput", name="password", size="30", type="password")

            div(class="clearfix")
                div(class="input", id="button")
                    input(type="submit", class="btn primary", value="Login")
                    a(href="/register", style="margin-left:40px;" ) register

            div(class="clearfix")
                div(class="input", id="button")





