body
{
    background-color: #333388;
}

.container
{
    background-color: #FFFFFF;
    border-left: 4px solid #000055;
    border-right: 4px solid #000055;
    border-bottom: 7px solid #000055;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 15px #000;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #666699;
}

li
{
    border-top: 1px solid #666699;
    padding: 15px;
}

li:nth-child(even)
{
    background-color: #DDDDEE;
}

li:nth-child(odd)
{
    background-color: #EEEEFF;
}

a
{
    color: #DDDDEE;
    text-decoration: underline;
}

a:hover
{
    color: #EEEEFF;
}

.playlist
{
    display: block;
    border: 1px solid #000055;
    background-color: #9999BB;
    padding: 15px;
    width: 550px;
    border-radius: 5px;
    margin-left: 15px;
}

.playlist-link
{
    font-size: 25px;
}

.playlist-rank
{
    float: right;
    color: #EEEEEE;
}

.vote, .vote:hover
{
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.vote:hover
{
    color: #FFFFFF;
}

.playlist-comments
{
    display: block;
    border: 1px solid #DDDDEE;
    background-color: #444455;
    margin: 15px;
    padding: 15px;
    width: 400px;
}

.playlist-comments .author
{
    display: block;
    font-size: 20px;
    color: #EEEEFF;
}

.playlist-comments .comment
{
    display: block;
    clear: both;
    border-bottom: 1px solid #DDDDEE;
    margin-bottom: 5px;
    color: #DDDDFF;
}

.playlist-comments .more-comments
{
    display: block;
    clear: both;
}

.playlist-comments .more-comments:hover
{
    color: #EEEEFF;
}

.menu-container
{
    position: fixed;
    top: 0;
    left: 0;
    height: 25px;
    width: 100%;
    background-color: #333366;
    opacity: 0.6;
    margin-bottom: 10px;
    padding-left: 10px;
    box-shadow: -2px 4px 6px #000;
}

.menu
{
    width: 950px;
    margin: auto;
}

.menu-links
{
    float: right; 
    display: block; 
    position: relative;
    padding-right: 20px;
    padding-left: 10px;
}

.left{
    float: left;
}

.red{color: red;}


.span16{
    margin-top: 35px;
    margin-bottom: 35px;
}

.footer{
    background-color: #333333;
    position: fixed;
    bottom: 0px;
    min-height: 20px;
    width: 100%;
}

.go-add-comment{
    margin-top: 5px;
    margin-left: 10px;
}

.add-comment{
    
}

.comment-form{
    
}

.comment-entry{
    margin: 10px;
    height: 75px;
    width: 500px;
    clear: both;
}