ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #666699;
}

li
{
    border-top: 1px solid #666699;
    padding: 15px;
}

li:nth-child(even)
{
    background-color: #DDDDEE;
}

li:nth-child(odd)
{
    background-color: #EEEEFF;
}

a
{
    color: #DDDDEE;
    text-decoration: underline;
}

a:hover
{
    color: #EEEEFF;
}

.playlist
{
    display: block;
    border: 1px solid #444455;
    background-color: #AAAABB;
    padding: 15px;
    width: 550px;
}

.playlist-link
{
    font-size: 25px;
}

.playlist-rank
{
    float: right;
}

.vote-up
{
    text-decoration: none;
}

.vote-down
{
    text-decoration: none;
}

.playlist-comments
{
    display: block;
    border: 1px solid #DDDDEE;
    background-color: #444455;
    margin: 15px;
    padding: 15px;
    width: 350px;
}

.playlist-comments .author
{
    display: block;
    font-size: 20px;
    color: #EEEEFF;
}

.playlist-comments .comment
{
    display: block;
    clear: both;
    border-bottom: 1px solid #DDDDEE;
    margin-bottom: 5px;
}

.playlist-comments .more-comments
{
    display: block;
    clear: both;
}

.playlist-comments .more-comments:hover
{
    color: #EEEEFF;
}

.menu
{
    position: fixed;
    top: 0;
    left: 0;
    height: 25px;
    width: 100%;
    background-color: #333333;
    opacity: 0.6;
    margin-bottom: 10px;
}

.menu-links
{
    float: right; 
    display: block; 
    position: relative;
}

.red{color: red;}


.span11{
    margin-top: 35px;
    margin-bottom: 35px;
}

.footer{
    background-color: #333333;
    position: fixed;
    bottom: 0px;
    min-height: 20px;
    width: 100%;
}